<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Request Notification</title>
	</head>
	<body style="padding: 50px">
		<div style="width: 300px; border-radius: 100%; margin: auto">
			<img
				style="width: 100%"
				src="https://tools-backend-7x55.onrender.com/assets/images/favicon.jpg"
				alt="logo"
			/>
		</div>
		<div style="width: 80%; margin: 0 auto">
			<h3 style="font-weight: 400">
				<span style="font-weight: bolder">Name:</span> {{firstName}}
				{{lastName}}
			</h3>
			<h3 style="font-weight: 400">
				<span style="font-weight: bolder">Email:</span> {{email}}
			</h3>
			<h3 style="font-weight: 400">
				<span style="font-weight: bolder">Phone:</span> {{phone}}
			</h3>
			<h3 style="font-weight: 400">
				<span style="font-weight: bolder">Message:</span> {{message}}
			</h3>
		</div>
	</body>
</html>
