<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Password Updated Successfully!</title>
	</head>
	<body style="padding: 20px; text-align: center">
		<div
			style="
				width: 300px;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: purple;
				border-radius: 100%;
				margin: 0 auto;
			"
		>
			<img
				style="width: 100%"
				src="http://localhost:3005/assets/images/logo.png"
				alt="logo"
			/>
		</div>
		<h2>Password Change Notification</h2>
		<h4>
			This e-mail confirms that the password for your account has been changed.
		</h4>
		<p>
			If you did not initiate this change, please contact
			<a
				style="text-decoration: none; color: red; font-weight: bold"
				href="mailto:support@digitalkatana.dev"
				>support@digitalkatana.dev</a
			>
			right away.
		</p>
	</body>
</html>
