<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Generate Password Token</title>
	</head>
	<body style="padding: 20px; text-align: center">
		<div style="width: 300px; border-radius: 100%; margin: auto">
			<img
				style="width: 100%"
				src="http://localhost:3005/assets/images/logo.png"
				alt="logo"
			/>
		</div>
		<h2>We've received a request to reset your password!</h2>
		<h4>
			Hi {{email}}, we received a password reset request from your account. To
			complete the reset, please
			<a
				style="text-decoration: none; color: red; font-weight: bold"
				href="http://localhost:3000/reset-password/{{resetToken}}"
				>click here.</a
			>
			The link is valid for 10 minutes.
		</h4>
		<p>
			If this was not intended or you have questions about your account, please
			contact
			<a
				style="text-decoration: none; color: red; font-weight: bold"
				href="mailto:support@digitalkatana.dev"
				>support@digitalkatana.dev</a
			>
			right away.
		</p>
	</body>
</html>
